# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
myenv/
venv/
.venv/

# Jupyter Notebook & Data
.ipynb_checkpoints
data/raw/
data/processed/*.parquet
pipeline.log
reports/figures/*.png

# IDEs
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/
